#player
	.deck
		width: 400px
		height: 265px
		background-color: #444
		float: left
		.deck-info
			display: block
			height: 25px
			padding-top: 5px
			padding-left: 5px
			padding-right: 5px
			font-size: 12px
			line-height: 15px
			text-align: left
			white-space: nowrap
			overflow: hidden
			text-overflow: ellipsis
		.deck-controls
			display: block
			background-color: #333
			height: 50px
			.deck-sync-button
				cursor: pointer
				padding: 10px 5px
				float: left
			.deck-first-beat
				cursor: n-resize
				cursor: ns-resize
				float: left
				padding: 10px 5px
			.deck-bpm
				cursor: n-resize
				cursor: ns-resize
				float: left
				padding: 10px 0 10px 5px
			.multiple-buttons
				float: left
				padding: 10px 5px 10px 0
			.deck-tap
				cursor: pointer
				padding: 10px 5px
				float: left
			.deck-beep
				cursor: pointer
				padding: 10px 5px
				float: left
			.deck-save
				cursor: pointer
				padding: 10px 5px
				float: right
		.deck-scope, .deck-position
			cursor: text
			padding: 5px
		.deck-play-button
			cursor: pointer		
			padding: 5px
			float: left
		.deck-controls-button
			cursor: pointer
			padding: 10px
			float: left
		.deck-pitch
			cursor: n-resize
			cursor: ns-resize
			padding: 5px
			float: right
		.controls
			display: block
			clear: both
			height: 40px
			padding: 5px
			text-align: center
			background-color: #555
			.looper
				cursor: pointer
				margin-left: auto
				margin-right: auto
	.lightup
		background-color: #888