@import 'player/deck'
@import 'player/eq'

#player *
	display: block
#player
	text-align: center
	z-index: 999
	// background-color: #555
	-moz-user-select: -moz-none
	-khtml-user-select: none
	-webkit-user-select: none
	-ms-user-select: none
	user-select: none
	display: block
	margin-left: 20px
	margin-right: 20px